* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif; 
}

body {
    --main-color: #009579;
    --main-color-dark: #007f67;
    --secondary-color: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-image: url(/img/login-bg.jpg);
    background-size: cover;
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background-color: whitesmoke;
}

.form-hidden {
    display: none;
}

.form-title {
    margin-bottom: 2rem;
    text-align: center;
}

.form-message {
    text-align: center;
    margin: 1rem;
}

.form-message-error {
    color: var(--color-error);
}

.form-message-success {
    color: var(--color-success);
}

.input-group {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.input {
    display: block;
    padding: 0.85rem;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    border: 1px solid white;
    outline: none;
    transition: background 0.4s, border-color 0.2s;
}

.input:focus {
    border-color: var(--main-color);
}

.input-error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.input-error-message {
    padding-bottom: 7px;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form-button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background-color: var(--main-color);
}

.form-button:hover {
    background-color: var(--main-color-dark);
}

.form-button:active {
    transform: scale(0.98);
}

.text {
    text-align: center;
}

.form-text {
    display: flex;
    flex-direction: column;
    padding-top: 4%;
    row-gap: 1vh;
    align-items: center;
}

.form-link {
    color: var(--secondary-color);
    font-weight: 600;
    text-decoration: none;
    font-size: 0.94rem;
    cursor: pointer;
    background-color: whitesmoke;
    border: none;
} 

.form-link:hover {
    text-decoration: underline;
}